*.suo
*.sdf
*.exe
*.log
*.tlog
*.dll
*.lib
*.exp
*.pdb
*.ilk
*.ipch
*.pchi
*.sdf
*.Build*
*.*codeanalysis*
*.opensdf
*.VC.db
*.VC.opendb
*.o
*.gcno
*~
*.obj
*.idb
*.testdurations
*.pch
*.cache
*.pdf
*.mdf
*.ldf
*.db3
*enclave_t.c
*enclave_t.h
*_u.c
*_u.h
*.inspxeproj
*.zip
Debug/
Release/
PreRelease/
ipch/
packages/
db_test*/
x64*/
.vs/
.vscode/
LocalDistrib/*
*/errfile-child-*
*/outfile-child-of-*
*vcxproj.user

secretarium/build
build
third_party

secretarium/interfaces/flatbuffers/*.h

doxygen
viz/*
3rdparty
